


<h2>Users</h2>

<p>&nbsp;</p>

<div style="width:100%; display: flex; align-items: center; justify-content: center;">

<table style="width:60em;">
    <colgroup>
        <col style="width:40%" />
        <col style="width:30%" />
        <col style="width:30%" />
    </colgroup>
    <thead style="background-color: gray; color:white; font-weight:bold">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Business Unit</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Robert Meyer</td>
            <td>robert.meyer@cubeware.de</td>
            <td>PE/BiHub</td>
        </tr>
    </tbody>
</table>

</div>